*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 15em;
    background-color:#000000 ;
    display: flex;
    justify-content: space-between;
    padding: 2em;

}
.icons{
    margin-left: 2em;
}
.icons img{
    margin-right:.5em ;
   
}

.logo{
    color: aliceblue;
}

.h1-headings{
    color: aliceblue;
    margin-left: 2em;
}

h1 span{
    color: rgb(132, 130, 130);
}

#Logo-h1-section{
    display: flex;
   
}
.input-icons-div{
    display: flex;
    justify-content: end;
    color: aliceblue;
  
}

header hr{
    margin-top: .5em;
}

.ul-links{
    display: flex;
  
}

.ul-links li{
    margin-left: 2em;
    margin-top: 1em;
    
   
}
.ul-links li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3em;
}

.icons-links-section{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.banner-Img{
    height: 40em;
    width: 80%;
    background-color: #747171;
    border: 2px solid black;
    margin: auto;
    margin-top: -5em;
}

.popUp-text{
    height: 7em;
    width: 40%;
    background-color: #000000;
    color: aliceblue;
    font-size: 1.5em;
    padding-left: 3em;
display: flex;
align-items: center;
justify-content: center;
margin-left: 3em;
margin-top: -4em;
    
}

.text-arrow-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

form input{
    background-color: transparent;
    border: 0;
}
.coffee-articles img{
    height: 13em;
    width: 13em;
    background-color: rgb(139, 139, 169);
    margin-right:2em ;
}
.coffee-articles{
    display: flex;
    margin-top: 3em;margin-right: 3em;
}

.coffee-articles h2{
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 1em;
}
.coffee-articles span{
    color: #747171;
    font-size: 15px;
  
}
.coffee-articles p{
    font-size: 17px;
    font-weight: 300;
    color: #343232;
    line-height: 30px;
    margin: 1em 0em;
}

.coffee-articles .buttons{
    
    padding: 1em;
    background-color: transparent;
    border: 1px solid gray;
}

#article-aside-section{
    display: flex;
    width: 66%;
    margin: auto;
}

hr{
    margin: 1em 0em;
    border: 1px solid rgb(234, 231, 231);
  
}

aside h3{
    font-size: 1.7em;
    font-weight: 200;
    color: #212020;
    margin-bottom: .5em;
}

aside h4{
    font-size: 1.3em;
    font-weight: 100;
    color: #1e1d1d;
    margin-bottom: .7em;
}

aside ul li{
    list-style-type: none;
   line-height: 1.5em;
   color: #343232;
}

aside .buttons{
    padding: 1em;
    background-color: transparent;
    border: 1px solid gray;
    margin-top: 1em;
}

.buttons:hover{
    background-color: #1e1d1d;
    color: aliceblue;
}

.previous-next-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}
.previous-next-button .buttons:hover{
   background-color: #1e1d1d;
    color: aliceblue;  
}

.previous-next-button .buttons{
    padding: 1em;
    background-color: transparent;
    border: 1px solid gray;
    width: 7em;
    height: 3em;
    margin-bottom: 2em;
}

#sponsors-logo{
    width: 80%;
    margin: auto;
    margin-bottom: 3em;
   
}

#sponsors-logo h2{
    text-align: center;
    margin: 2em 0em;
     font-weight: 200;

}

.all-logos{
     display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap:1em;
}

.all-logos img{
    height: 5em;
   
}
 footer{
   margin-bottom: 3em;
     background-color: #000000;
     height: 30em;
      color: aliceblue;
 }

.footer-contain{
    /* height: 20em; */
   margin: auto;
    color: aliceblue;
   
    width: 80%;
}
.footer-top{
     display: flex;
    justify-content:space-between ;
    padding: 3em 3em 2em 0em;
}
footer hr{
    border-color: #272626;

}

.footer-bottom{
    margin: auto;
    width: 80%;
  display: flex;
  justify-content: space-between;
}

.insta-images{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:1em;
}

.footer-bottom h4{
    font-size: 1.1em;
    font-weight: 200;
    margin-bottom: 1em;
}

.footer-bottom span{
     color: rgb(132, 130, 130);
    
}

.footer-bottom p{
    color: #dfdcdc;
    margin-top: .8em;
}
.contact ul li{
    list-style-type: none;
    color: #747171;
}

.contact ul{
    margin-top: .7em;
}

.contact p{
    font-weight: 200;
    font-size: 12px;
}

.insta-images img{
    width: 3.5em;
}
